@import "tools";

.custom-honors-received {

    font-family: 'Helvetica';
    font-weight: 400;
    background: #FFFEFB;
    padding-top:vm(40);
    padding-bottom:vm(60);
    @include media-min("spc") {
        padding-top:vmpc(60);
        padding-bottom:vmpc(80);
    }

    p {
        margin: 0;
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .safe-container {
        position: relative;
        height: 100%;
        padding: 0 vm(20);

        @include media-min("spc") {
            padding: 0;
        }
    }


    .section-title {
        margin-bottom:vm(40);

        @include media-min("spc") {
            margin-bottom:vmpc(50);
        }
        
        h2 {
            font-family: 'Helvetica';
            font-size: vm(32); 
            line-height: 1;
            font-weight: 700;
            text-align: center;
            margin: 0;

            @include media-min("spc") {
                font-size: vmpc(56); 
            }
        }
    }

    
    .marquee-container {
        width: 100%;
        overflow: hidden;
        position: relative;

        .marquee-row {
            display: flex;
            gap:vm(40);

            @include media-min("spc") {
                gap:vmpc(126);
            }

            .marquee-item {
                flex-shrink: 0;

                img {
                    width: auto;
                    height: vm(35);

                    @include media-min("spc") {
                        height: vmpc(70);
                    }
                }
            }
        }
        .marquee-left {
            animation: marqueeLeft var(--marquee-time-mb) linear infinite;

            @include media-min("spc") {
                animation: marqueeLeft var(--marquee-time) linear infinite;
            }
        }
    }

    .marquee-container:hover .marquee-row {
        animation-play-state: paused;
    }
    
    @keyframes marqueeLeft {
        0% { transform: translateX(0); }
        100% { transform: translateX(-50%); }
    }
    
    @keyframes marqueeRight {
        0% { transform: translateX(-50%); }
        100% { transform: translateX(0); }
    }
    
    

}