@import "tools";

.custom-our-service {

    font-family: 'Helvetica';
    font-weight: 400;
    background: #f6f1ea;
    padding-top:vm(60);
    padding-bottom:vm(60);
    @include media-min("spc") {
        padding-top:vmpc(80);
        padding-bottom:vmpc(80);
    }

    p {
        margin: 0;
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .safe-container {
        position: relative;
        height: 100%;
        padding: 0 vm(20);

        @include media-min("spc") {
            padding: 0;
        }
    }


    .section-title {
        margin-bottom:vm(40);

        @include media-min("spc") {
            margin-bottom:vmpc(60);
        }
        
        h2 {
            font-family: 'Helvetica';
            font-size: vm(32); 
            line-height: vm(44);
            font-weight: 700;
            text-align: center;
            margin: 0;

            @include media-min("spc") {
                font-size: vmpc(56); 
                line-height: 1;
            }
        }
    }

    .our-service-items {
        --service-items-gap:#{vm(30)};
        display: flex;
        align-items: center;
        justify-content: center;
        gap: vm(40) var(--service-items-gap);
        flex-wrap: wrap;

        @include media-min("spc") {
            --service-items-gap:#{vmpc(80)};
            gap: vmpc(60) var(--service-items-gap);
        }

        .item {
            flex:0 0 calc(50% - 0.5*var(--service-items-gap));
            max-width: calc(50% - 0.5*var(--service-items-gap));
            text-align: center;

            @include media-min("spc") {
                flex:0 0 calc(25% - 3/4*var(--service-items-gap));
                max-width: calc(25% - 3/4*var(--service-items-gap));
            }

            .image {
                max-width: vm(80);
                margin: auto;
                margin-bottom: vm(10);

                @include media-min("spc") {
                    max-width: vmpc(100);
                    margin-bottom: vmpc(20);
                }
            }

            .title {
                font-weight: 700;
                font-size: vm(22);
                line-height: 1;
                margin-bottom: vm(10);
                color:#2D2D2D;

                @include media-min("spc") {
                    font-size: vmpc(32);
                    line-height: 1;
                    margin-bottom: vmpc(20);
                }
            }
            .info {
                font-size: vm(18);
                line-height: vm(24);
                color:#524842;

                @include media-min("spc") {
                    font-size: vmpc(22);
                    line-height: vmpc(22);
                }
            }
        }
    }
    

}