
.image-with-text-ly img {
    max-width: 100%;
    display: block;
}
.image-with-text-ly .picture_box img {
    border-radius: 10px;
}

.image-with-text-ly .heading-box {
    margin-bottom: 30px;
}
.image-with-text-ly h2.heading-title.h3 {
    margin-bottom: 0;
}
.image-with-text-ly .sub_title {
    margin-top: 10px;
}

.image-with-text-ly .itext-inner {
    --itext-gap:30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:var(--itext-gap);
}

.image-with-text-ly .itext-picture,
.image-with-text-ly .itext-content {
    flex:0 0 100%;
}

.image-with-text-ly .itext-context_button a.btn {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 10px;
}
.image-with-text-ly .itext-context_button a.btn img {
    width:20px;
}