.pc {display:block;}
.mb {display:none;}
@media screen and (max-width: 767px) {
	.pc {display:none;}
	.mb {display:block;}
}

.template-product .container {
    max-width: 1400px;
}

.product-tags .product-tags__tag {
   color:var(--tag-color);
   background-color:var(--tag-background-color);
   font-size: 1.6rem;
}

@media (min-width: 1200px) {
  .product .product__info-container > *:not(.pickup-availability) {
    margin-top: 2rem;
  }
}
.product .installment-wrapper {
    display: none;
}
.product .product__info-container .price-wrapper {
    margin-top:0;
}


/* .product .product-form__submit:not([disabled]),
.addtocart_box .product-form__submit {
    color:var(--submit-btn-color);
    background-color: var(--submit-btn-bg);
} */

.product .sale-live {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    display: flex;
    align-items: center;
}
.product .sale-live i {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #42ff0d;
    margin-right: 15px;
    display: inline-flex;
    border-radius: 50%;
}

.product .sale-live i::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #42ff0d;
    opacity: 0.6;
    animation: ripple 1s ease-out infinite;
}

@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}




@media (min-width: 1200px) {
  .ServiceTerms .ServiceTerms_flex_box h2 {
      font-size: 2.5rem;
  }
}
